# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# Node
frontend/node_modules/
frontend/.next/
frontend/dist/

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.lock.hcl

# LocalStack
.localstack/

# Misc
.DS_Store
*.log
